@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
	/* Fonts */
	--font-sans: 'Inter Variable', 'Noto Sans TC Variable', sans-serif;
	--font-mono: 'JetBrains Mono Variable', 'Noto Sans TC Variable', monospace;

	--color-foreground: #0c0c0c;
	--color-foreground-dark: #fbfbfb;
	--color-background: #fafafa;
	--color-background-dark: #2b2b2b;
	--color-primary: #1369a2;
	--color-primary-dark: #7dd3fc;
}

/* HTML */
html {
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
}

:root {
	line-height: 1.4;
}

::selection {
	@apply bg-primary/80 text-foreground-dark;
}

/* General */
.page-title {
	@apply text-4xl font-bold;
}

/* Container */
.basic-container {
	@apply container mx-auto px-6 sm:px-12 2xl:px-16;
}

.page-container {
	@apply container mx-auto px-6 pt-10 sm:px-12 2xl:px-16;
}

.page-section {
	@apply my-10;
}

.post-list {
	@apply space-y-3;
}

/* NavBar */
#mobile-menu.mobile-nav-open {
	@apply translate-x-0 shadow-xl/30;
}

/* Button */
.btn-primary {
	@apply bg-foreground hover:bg-foreground/75 text-background dark:bg-foreground-dark hover:dark:bg-foreground-dark/85 dark:text-background-dark flex w-fit items-center gap-2 rounded-lg px-3 py-2 transition-all hover:shadow-lg active:shadow-none;
}

.btn-secondary {
	@apply flex max-w-max items-center gap-2 rounded-lg bg-zinc-200/75 px-3 py-2 ring ring-black/10 transition-all hover:bg-zinc-300/75 hover:shadow-md active:shadow-none dark:bg-zinc-600/50 dark:hover:bg-zinc-500/75;
}

.btn-folded {
	@apply flex items-center rounded-lg bg-zinc-200/75 px-2 py-1.5 ring ring-black/10 transition-[max-width] duration-250 ease-in-out hover:bg-zinc-300/75 hover:shadow-md active:shadow-none dark:bg-zinc-600/75 dark:hover:bg-zinc-500/75;
}

/* Pagination */
.btn-pagination {
	@apply text-foreground dark:text-foreground-dark hover:bg-foreground/15 hover:dark:bg-foreground-dark/15 active:bg-foreground/35 active:dark:bg-foreground-dark/35 m-1 flex w-fit items-center gap-2 rounded-md px-3 py-2 transition-colors;
}

.pagination-ellipsis {
	@apply text-foreground dark:text-foreground-dark flex w-fit items-center gap-2 rounded-md px-3 py-2;
}

.btn-pagination-active {
	@apply text-foreground-dark dark:text-foreground bg-foreground/80 dark:bg-foreground-dark/80 m-1 flex w-fit items-center gap-2 rounded-md px-3 py-2;
}

.btn-pagination-arrow {
	@apply text-foreground dark:text-foreground-dark hover:bg-foreground/15 hover:dark:bg-foreground-dark/15 active:bg-foreground/35 active:dark:bg-foreground-dark/35 m-1 flex w-fit items-center gap-2 rounded-md px-1 py-2 transition-colors;
}

/* Common Components */
.post-card {
	@apply flex h-full flex-col gap-3;
}

.post-card img {
	transform: scale(1);
	transition: transform 0.5s ease;
}

.post-card:hover img {
	transform: scale(1.1);
}

.post-block {
	@apply relative flex flex-col gap-3 rounded-lg py-5 transition-all md:flex-row md:gap-7 md:px-5 md:hover:scale-[1.025] md:hover:bg-white md:hover:shadow-2xl md:hover:ring-3 hover:dark:bg-white/10;
}

.category-card {
	@apply flex h-full flex-col gap-3 rounded-lg bg-zinc-100/50 px-5 py-4 ring-1 ring-zinc-200 transition-all hover:scale-[1.025] hover:shadow-lg dark:bg-zinc-100/15 dark:ring-zinc-100/20;
}

.tag-card {
	@apply line-clamp-1 flex h-full flex-row items-center gap-1 rounded-lg bg-zinc-100 p-2.5 text-center text-lg ring-1 ring-zinc-200 transition-all hover:scale-[1.075] hover:shadow-lg dark:bg-zinc-100/15 dark:ring-zinc-100/20;
}

/* Plugin Modifies */
.medium-zoom-overlay,
.medium-zoom-image--opened {
	@apply bg-background/90! dark:bg-background-dark/90! z-999 backdrop-blur-lg;
}

.astro-code,
.astro-code span {
	@apply dark:bg-(--shiki-dark-bg)! dark:text-(--shiki-dark)!;
}

.astro-code {
	@apply ring-neutral-500/50 dark:ring-1;
}

/* TailwindCSS Typography Modifies */
.prose-element-modify {
	@apply prose-headings:first:mt-0 prose-headings:mt-[1.2em] prose-h2:mb-[0.8em] prose-p:my-5 prose-ul:mt-[1.2em] prose-table:my-5 prose-pre:mt-[2em] prose-img:rounded-sm prose-img:mx-auto prose-img:my-0;
}

.prose blockquote > p::before {
	content: '';
}

.prose img,
.prose iframe {
	max-inline-size: 100%;
}

.prose code::before,
.prose code::after {
	content: '';
}

.prose code:not(pre > code) {
	@apply mx-0.5 rounded-md bg-gray-200/80 px-1 py-0.5 ring ring-black/5 dark:bg-gray-200/20 dark:ring-white/20;
}

/* Table Of Content */
.toc-item {
	@apply hover:text-primary dark:hover:text-primary-dark line-clamp-2 max-w-fit rounded-md rounded-l-none px-3 py-1 transition-all;
}

.toc-highlight {
	@apply bg-zinc-200/60 shadow-[inset_3.5px_0_0_0_#000000] dark:bg-zinc-200/20;
}

/* Other */
.link-folded {
	@apply hover:text-primary flex items-center rounded-lg transition-[max-width] duration-250 ease-in-out;
}
