@import "@fontsource-variable/noto-sans-tc/wght.css";
@import "@fontsource-variable/inter/wght.css";
@import "@fontsource-variable/jetbrains-mono/wght.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	/* Fonts */
	--font-sans: "Inter Variable", "Noto Sans TC Variable", sans-serif;
	--font-mono: "JetBrains Mono Variable", "Noto Sans TC Variable", monospace;

	--color-foreground: #0c0c0c;
	--color-foreground-dark: #fbfbfb;
	--color-background: #fafafa;
	--color-background-dark: #2b2b2b;
	--color-primary: #1369a2;
	--color-primary-dark: #7dd3fc;
}

/* HTML */
html {
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
}

:root {
	line-height: 1.4;
}

::selection {
	@apply bg-primary/80 text-foreground-dark;
}

/* General */
.page-title {
	@apply text-4xl font-bold;
}

/* Container */
.basic-container {
	@apply container mx-auto px-6 2xl:px-16;
}

.page-container {
	@apply container mx-auto px-6 pt-10 2xl:px-16;
}

.page-section {
	@apply my-10;
}

.post-list {
	@apply flex flex-col sm:gap-2;
}

/* NavBar */
#mobile-menu.mobile-nav-open {
	@apply translate-x-0 shadow-xl/30;
}

/* Button */
.btn-primary {
	@apply bg-foreground hover:bg-foreground/75 text-background dark:bg-foreground-dark hover:dark:bg-foreground-dark/85 dark:text-background-dark flex w-fit items-center gap-2 rounded-lg px-3 py-2 transition-all hover:shadow-lg active:shadow-none;
}

.btn-secondary {
	@apply flex max-w-max items-center gap-2 rounded-lg bg-zinc-200/75 px-3 py-2 ring ring-black/10 transition-all hover:bg-zinc-300/75 hover:shadow-md active:shadow-none dark:bg-zinc-600/50 dark:hover:bg-zinc-500/75;
}

.btn-folded {
	@apply flex items-center rounded-lg bg-zinc-200/75 px-2 py-1.5 ring ring-black/10 transition-[max-width] duration-250 ease-in-out hover:bg-zinc-300/75 hover:shadow-md active:shadow-none dark:bg-zinc-600/75 dark:hover:bg-zinc-500/75;
}

/* Pagination */
.btn-pagination {
	@apply text-foreground dark:text-foreground-dark hover:bg-foreground/15 hover:dark:bg-foreground-dark/15 active:bg-foreground/35 active:dark:bg-foreground-dark/35 m-1 flex w-fit items-center gap-2 rounded-md px-3 py-2 transition-colors;
}

.pagination-ellipsis {
	@apply text-foreground dark:text-foreground-dark flex w-fit items-center gap-2 rounded-md px-3 py-2;
}

.btn-pagination-active {
	@apply text-foreground-dark dark:text-foreground bg-foreground/80 dark:bg-foreground-dark/80 m-1 flex w-fit items-center gap-2 rounded-md px-3 py-2;
}

.btn-pagination-arrow {
	@apply text-foreground dark:text-foreground-dark hover:bg-foreground/15 hover:dark:bg-foreground-dark/15 active:bg-foreground/35 active:dark:bg-foreground-dark/35 m-1 flex w-fit items-center gap-2 rounded-md px-1 py-2 transition-colors;
}

/* Components */
.post-card {
	@apply flex h-full flex-col gap-3;
}

.post-card img {
	@apply group-hover:scale-[1.1] transition-transform duration-500;
}

.post-block {
	@apply grid grid-cols-1 gap-3 rounded-lg py-4 transition-all sm:grid-cols-[208px_1fr] sm:gap-7 sm:px-5 sm:hover:scale-[1.0125] sm:hover:bg-white sm:hover:shadow-2xl sm:hover:ring-2 md:grid-cols-[224px_1fr] lg:grid-cols-[256px_1fr] hover:dark:bg-white/10;
}

.category-card {
	@apply flex h-full flex-col gap-3 rounded-lg bg-zinc-100/50 px-5 py-4 ring-1 ring-zinc-200 transition-all hover:scale-[1.025] hover:shadow-lg dark:bg-zinc-100/15 dark:ring-zinc-100/20;
}

.tag-card {
	@apply line-clamp-1 flex h-full flex-row items-center gap-1 rounded-lg bg-zinc-100 p-2.5 text-center text-lg ring-1 ring-zinc-200 transition-all hover:scale-[1.075] hover:shadow-lg dark:bg-zinc-100/15 dark:ring-zinc-100/20;
}

.archive-post-item {
	@apply hover:bg-white ml-2.5 grid items-center rounded-md not-hover:rounded-l-none not-hover:border-l-2 py-2 transition-all hover:shadow-xl hover:ring-2 md:grid-cols-[120px_1fr] md:gap-y-0 md:hover:scale-[1.0125];
}

/* Plugin Modifies */
.medium-zoom-overlay,
.medium-zoom-image--opened {
	@apply bg-background/90! dark:bg-background-dark/90! z-999 backdrop-blur-lg;
}

.pswp__button {
	@apply mr-0! flex! h-10! w-10! items-center! justify-center! rounded-full! transition hover:bg-zinc-700!;
}

.pswp__icn {
	@apply relative! top-0! left-0!;
}

.pswp__button--zoom,
.pswp__button--close {
	@apply mt-5!;
}

.pswp__button--zoom {
	@apply mr-2.5!;
}

.pswp__button--close {
	@apply mr-7.5!;
}

/* Code Block */
.astro-code,
.astro-code span {
	@apply dark:bg-(--shiki-dark-bg)! dark:text-(--shiki-dark)!;
}

.astro-code {
	@apply ring-neutral-500/50 dark:ring-1;
}

/* TailwindCSS Typography Modifies */
.prose-element-modify {
	@apply prose-headings:first:mt-0 prose-headings:mt-[1.2em] prose-h2:mb-[0.8em] prose-ul:mt-[1.2em] prose-table:my-5 prose-pre:mt-[2em] prose-img:rounded-sm prose-img:mx-auto prose-img:my-0;
}

.prose blockquote > p::before {
	@apply content-none;
}

.prose img,
.prose iframe {
	@apply max-inline-full;
}

.prose code:not(pre > code) {
	@apply mx-0.5 rounded-md bg-gray-200/80 px-1 py-0.5 ring ring-black/5 dark:bg-gray-200/20 dark:ring-white/20;
}

/* Table Of Content */
.toc-item {
	@apply hover:text-primary dark:hover:text-primary-dark line-clamp-2 max-xl:text-sm max-w-fit rounded-md rounded-l-none px-3 py-1 transition-all;
}

.toc-highlight {
	@apply text-primary dark:text-primary-dark shadow-[inset_3.5px_0_0_0_#2b2b2b] dark:shadow-[inset_3.5px_0_0_0_#FAFAFA];
}

/* Other */
.link-folded {
	@apply hover:text-primary flex items-center rounded-lg transition-[max-width] duration-250 ease-in-out;
}
