@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
	/* Fonts */
	--font-sans: 'Inter Variable', 'Noto Sans TC Variable', system-ui, sans-serif;
	--font-mono: 'JetBrains Mono Variable', 'Noto Sans TC Variable', monospace;

	--color-foreground: #0c0c0c;
	--color-foreground-dark: #fafafa;
	--color-background: #fbfbfb;
	--color-background-dark: #2b2b2b;
	--color-primary: #1369a2;
	--color-primary-dark: #7dd3fc;
}

/* HTML */
html {
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
}

:root {
	line-height: 1.4;
}

::selection {
	@apply bg-primary/80 text-foreground-dark;
}

/* General */
.site-title-container {
	@apply relative container mx-auto flex flex-col justify-center gap-12 px-6 py-24 pt-44 sm:px-12 md:py-36 md:pt-48 2xl:px-16;
}

.page-title {
	@apply text-5xl font-bold;
}

/* Container */
.app-container {
	@apply container mx-auto px-6 sm:px-12 2xl:px-16;
}

.main-container {
	@apply container mx-auto px-6 pt-32 sm:px-12 2xl:px-16;
}

/* NavBar */
#mobile-menu.mobile-nav-open {
	@apply translate-x-0 shadow-xl/30;
}

/* Button */
.btn-primary {
	@apply bg-foreground text-background dark:bg-foreground-dark dark:text-background-dark mt-4 flex w-fit items-center gap-2 rounded-lg px-5 py-3 shadow transition-opacity hover:opacity-75 md:px-4 md:py-2;
}

.btn-secondary {
	@apply flex max-w-max items-center gap-2 rounded-lg bg-zinc-200/75 px-3 py-2 ring ring-black/10 transition-all hover:bg-zinc-300/75 hover:shadow-md active:shadow-none dark:bg-zinc-600/50 dark:hover:bg-zinc-500/75;
}

.btn-folded {
	@apply flex items-center rounded-lg bg-zinc-200/75 px-2 py-1.5 ring ring-black/10 transition-[max-width] duration-250 ease-in-out hover:bg-zinc-300/75 hover:shadow-md active:shadow-none dark:bg-zinc-600/75 dark:hover:bg-zinc-500/75;
}

/* Post Content */
.prose blockquote > p::before {
	content: '';
}

/* Pagination */
.btn-pagination {
	@apply text-foreground dark:text-foreground-dark hover:bg-foreground/15 hover:dark:bg-foreground-dark/15 active:bg-foreground/35 active:dark:bg-foreground-dark/35 m-1 flex w-fit items-center gap-2 rounded-md px-3 py-2 transition-colors;
}

.pagination-ellipsis {
	@apply text-foreground dark:text-foreground-dark flex w-fit items-center gap-2 rounded-md px-3 py-2;
}

.btn-pagination-active {
	@apply text-foreground-dark dark:text-foreground bg-foreground/80 dark:bg-foreground-dark/80 m-1 flex w-fit items-center gap-2 rounded-md px-3 py-2;
}

.btn-pagination-arrow {
	@apply text-foreground dark:text-foreground-dark hover:bg-foreground/15 hover:dark:bg-foreground-dark/15 active:bg-foreground/35 active:dark:bg-foreground-dark/35 m-1 flex w-fit items-center gap-2 rounded-md px-1 py-2 transition-colors;
}

/* Page: home */
.home-post-container {
	@apply my-6 grid items-stretch gap-6 md:grid-cols-2 xl:grid-cols-4;
}

.postCard {
	@apply flex h-full flex-col gap-3 pb-6;
}

.postCard img {
	transform: scale(1);
	transition: transform 0.5s ease;
}

.postCard:hover img {
	transform: scale(1.1);
}

/* Common Components */
.postBlock {
	@apply relative flex flex-col gap-3 rounded-lg py-5 transition-all hover:bg-white md:px-5 md:hover:scale-[1.025] md:hover:shadow-2xl md:hover:ring-3 lg:flex-row lg:gap-7 hover:dark:bg-white/10;
}

.categoryCard {
	@apply flex h-full flex-col gap-3 rounded-lg bg-zinc-100/80 px-5 py-4 shadow transition-all hover:-translate-y-1.5 hover:scale-[1.025] hover:bg-zinc-100/40 hover:shadow-xl hover:ring-3 dark:bg-zinc-100/10 hover:dark:bg-zinc-100/15;
}

.tagCard {
	@apply line-clamp-1 flex h-full flex-row items-center gap-1 rounded-lg bg-zinc-100/80 p-2.5 text-center text-lg shadow transition-all hover:scale-[1.075] hover:shadow-xl hover:ring-3 dark:bg-zinc-100/10;
}

/* Other */
.medium-zoom-overlay,
.medium-zoom-image--opened {
	@apply bg-background/80! dark:bg-background-dark/80! z-999 backdrop-blur-lg;
}

.toc-highlight {
	@apply border-l-[3.5px] bg-zinc-200/60 dark:bg-zinc-200/20;
}

.astro-code,
.astro-code span {
	@apply dark:bg-(--shiki-dark-bg)! dark:text-(--shiki-dark)!;
}

.postList {
	@apply space-y-3;
}

.prose-element-modify {
	@apply prose-figure:my-5 prose-figure:text-center prose-img:rounded-sm prose-img:mx-auto prose-table:my-5 prose-p:my-5;
}

.link-folded {
	@apply hover:text-primary flex items-center rounded-lg transition-[max-width] duration-250 ease-in-out;
}
