---
import { siteConfig } from '@/site.config'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<div>
		<main class="app-container flex h-[70vh] flex-col items-center justify-center gap-6 py-56">
			<h1
				id="emoji"
				class="cursor-pointer rounded-lg px-4 pt-6 pb-6 text-center text-6xl leading-none transition-all select-none hover:bg-gray-200/70 md:text-[72px] hover:dark:bg-gray-300/30"
			>
				Σ(*ﾟдﾟﾉ)ﾉ
			</h1>
			<p class="text-center text-xl">抱歉，找不到此頁面</p>
			<a class="btn-primary text-lg" href=`${siteConfig.base}/`>返回首頁</a>
		</main>
	</div>
</BaseLayout>

<script>
	function getRandomInt(min: number, max: number) {
		const minCeiled = Math.ceil(min)
		const maxFloored = Math.floor(max)
		return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled)
	}
	const emojiText: HTMLElement | null = document.getElementById('emoji')
	let currentRndNum: number = 0
	let previousRndNum: number = 0
	const emoji: string[] = ['Σ(*ﾟдﾟﾉ)ﾉ', '(|||ﾟдﾟ)', 'ಠ╭╮ಠ', 'Σ( ° △ °)', '(#`Д´)ﾉ', '(´ﾟдﾟ`)']
	const eventType: string[] = ['mouseenter', 'click']
	if (emojiText) {
		eventType.forEach((event: string) => {
			emojiText.addEventListener(event, () => {
				do {
					currentRndNum = getRandomInt(0, emoji.length)
				} while (currentRndNum === previousRndNum)
				previousRndNum = currentRndNum
				emojiText.innerHTML = emoji[currentRndNum]
			})
		})
	}
</script>
