---
import { siteConfig } from '@/site.config'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<div>
		<main class="app-container h-[70vh] flex flex-col gap-6 justify-center py-56 items-center">
			<h1
				id="emoji"
				class="text-6xl md:text-[72px] text-center leading-none z-10 px-4 pt-6 pb-6 rounded-lg transition-all hover:bg-gray-200/70 hover:dark:bg-gray-300/30"
			>
				Σ(*ﾟдﾟﾉ)ﾉ
			</h1>
			<p class="text-xl text-center max-w-[480px]">抱歉，找不到此頁面</p>
			<a class="btn-primary text-lg shadow-lg hover:shadow-xl active:shadow-lg" href=`${siteConfig.base}/`
				>返回首頁</a
			>
		</main>
	</div>
</BaseLayout>

<script>
	function getRandomInt(min: number, max: number) {
		const minCeiled = Math.ceil(min)
		const maxFloored = Math.floor(max)
		return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled)
	}
	const emojiText: HTMLElement | null = document.getElementById('emoji')
	let currentRndNum: number = 0
	let previousRndNum: number = 0
	const emoji: string[] = ['Σ(*ﾟдﾟﾉ)ﾉ', '(|||ﾟдﾟ)', 'ಠ╭╮ಠ', '∑(￣□￣;)', 'Σ( ° △ °)', 'ε=ε=ヾ(;ﾟдﾟ)/']
	document.getElementById('emoji')?.addEventListener('mouseenter', () => {
		do {
			currentRndNum = getRandomInt(0, emoji.length)
		} while (currentRndNum === previousRndNum)
		previousRndNum = currentRndNum
		if (emojiText) {
			emojiText.innerHTML = emoji[currentRndNum]
		}
	})
</script>
