---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive =
	href === pathname ||
	href === pathname.replace(/\/$/, '') ||
	((pathname.startsWith('/posts') || pathname.startsWith('/archives')) && href === '/posts') ||
	(pathname.startsWith('/categories') && href === '/categories') ||
	(pathname.startsWith('/tags') && href === '/tags')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	@reference "../styles/global.css";

	a {
		@apply hover:text-primary relative decoration-2 underline-offset-4 transition-all;
	}
	a.active {
		@apply text-primary dark:text-primary-dark font-semibold;
	}
</style>
